* {
  margin: 0px;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
  display: grid;
  grid-template-rows: 80px 1fr;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.whiteText {
  color: #f3f3f3;
}

.blackText {
  color: #000000;
}

.wrapper::after {
  content: "";
  display: block;
}

.header {
  display: flex;
  justify-content: end;
  padding-top: 30px;
  padding-right: 30px;
  z-index: 1;
}

.areaInput {
  width: 16rem;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 0.3rem 4.5rem;
  color: #f3f3f3;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

.mainBody {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.currentDayWidget {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin-left: 10%;
  padding-top: 20%;
}

.currentWeatherDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.condition {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding-left: 0.3rem;
}

.location {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.currentTemp {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
  font-size: 10rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  position: relative;
  white-space: nowrap;
}

.currentTempF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.currentTempF.active {
  transform: translate(0, 0) scale(1);
}

.currentTempC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.currentTempC.active {
  transform: translate(0, 0) scale(1);
}

.currentWeatherMoreDetails {
  display: flex;
  flex-direction: column;
  border-left: 0.2rem solid rgba(255, 255, 255, 0.5);
  height: 8rem;
  padding-left: 3.5rem;
  justify-content: space-between;
  margin-left: 30px;
}

.feelsLike {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
}

.feelsLikeF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.feelsLikeF.active {
  transform: translate(0, 0) scale(1);
}

.feelsLikeC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.feelsLikeC.active {
  transform: translate(0, 0) scale(1);
}

.moreDetails {
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.rightBox {
  display: grid;
  grid-template-rows: 50% 50%;
  padding-left: 20%;
  gap: 25%;
}

.threeDayForecastWidget {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.forecastBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.threeDayForecastDay {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.threeDayForecastHigh {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
}

.threeDayForecastLow {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
}

.todayHighF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.todayHighF.active {
  transform: translate(0, 0) scale(1);
}

.todayHighC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.todayHighC.active {
  transform: translate(0, 0) scale(1);
}

.todayLowF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.todayLowF.active {
  transform: translate(0, 0) scale(1);
}

.todayLowC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.todayLowC.active {
  transform: translate(0, 0) scale(1);
}

.tomorrowHighF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.tomorrowHighF.active {
  transform: translate(0, 0) scale(1);
}

.tomorrowHighC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.tomorrowHighC.active {
  transform: translate(0, 0) scale(1);
}

.tomorrowLowF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.tomorrowLowF.active {
  transform: translate(0, 0) scale(1);
}

.tomorrowLowC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.tomorrowLowC.active {
  transform: translate(0, 0) scale(1);
}

.inTwoDaysHighF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.inTwoDaysHighF.active {
  transform: translate(0, 0) scale(1);
}

.inTwoDaysHighC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.inTwoDaysHighC.active {
  transform: translate(0, 0) scale(1);
}

.inTwoDaysLowF {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.inTwoDaysLowF.active {
  transform: translate(0, 0) scale(1);
}

.inTwoDaysLowC {
  grid-area: 1 / 1 / 1 / 1;
  transform: translate(0, 0) scale(0);
}

.inTwoDaysLowC.active {
  transform: translate(0, 0) scale(1);
}

.hourlyForecastWidget {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.hourlyForecastIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-area: 1 / 1 / 1 / 1;
  transition: 0.2s ease-in-out;
}

.hourlyForecastIndex.inactive-right {
  transform: translate(50%, 0) scale(0);
}

.hourlyForecastIndex.inactive-left {
  transform: translate(-50%, 0) scale(0);
}

.hourlyForecastIndex.active {
  transform: translate(0, 0) scale(1);
}

.hourlyForecastBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hourlyForecastHour {
  font-size: 1.8rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.hourlyForecastTemp {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: start;
}

.hourlyForecastTemp {
  grid-area: 1 / 1 / 1 / 1;
  transition: 0.2s ease-in-out;
}

.hourlyForecastTemp.inactive {
  transform: translate(0, 0) scale(0);
}

.hourlyForecastTemp.active {
  transform: translate(0, 0) scale(1);
}

.scrollbar {
  display: flex;
  justify-content: center;
}

.navDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f3f3f3;
  margin: 0 5px;
  cursor: pointer;
  margin-top: 5px;
}

.navDot.navActive {
  background-color: #f3f3f3;
}

.scrollbarLeft,
.scrollbarRight {
  filter: invert(97%) sepia(12%) saturate(201%) hue-rotate(202deg)
    brightness(118%) contrast(91%);
}

footer .wrapper:after {
  height: 40px;
}

footer {
  display: flex;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.github {
  height: 16px;
}
